# build output
dist/

# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/
supabase/migrations/20251014130400_create_auth_users.sql
.gitignore
supabase/migrations/20251014130500_add_test_users.sql
