---
// src/pages/auth/forgot-password.astro
// Strona resetowania hasła (wysyłka linku e-mail)

import Layout from "@/layouts/Layout.astro";
import { ForgotPasswordForm } from "@/components/auth/ForgotPasswordForm";
import { Toaster } from "@/components/ui/sonner";
---

<Layout title="Zapomniałeś hasła? - Fitness Tracker" showNavigation={false}>
  <div class="container mx-auto px-4 py-12">
    <ForgotPasswordForm client:load />
  </div>
  <Toaster client:load />
</Layout>
