---
// src/pages/auth/reset-password.astro
// Strona ustawiania nowego hasła (po kliknięciu w link z e-maila)

import Layout from "@/layouts/Layout.astro";
import { ResetPasswordForm } from "@/components/auth/ResetPasswordForm";
import { Toaster } from "@/components/ui/sonner";

// Pobierz token z URL (będzie pochodził z linku w e-mailu)
// TODO: W przyszłości Supabase automatycznie obsłuży ten token
const url = new URL(Astro.request.url);
const token = url.searchParams.get("token") || url.hash.split("access_token=")[1]?.split("&")[0];
---

<Layout title="Ustaw nowe hasło - Fitness Tracker" showNavigation={false}>
  <div class="container mx-auto px-4 py-12">
    <ResetPasswordForm client:load token={token} />
  </div>
  <Toaster client:load />
</Layout>
